.FilterUniversity input{
    width: 20rem;
    height: 3rem;
}
.FilterUniversity li{
    list-style: none;
    border: 1px solid whitesmoke;
    padding: 0.5rem;
}
.FilterUniversity li:hover{
    cursor: pointer;
}
.forPadding{
    padding: 2rem 3rem;
    margin: 1rem 0rem;
    border: 2px solid gold;
    border-radius : 20px
}